<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.css.nsfw.dp.dao.local.EntityTaxServerDao">
	<select id="getOfferCountRank" resultType="Map" >
		<!--取号数量TOP5-->
	<![CDATA[
		  select name,value from rank order by value desc
	]]>
	</select>
	<select id="getWaitingCountRank" resultType="Map">
		<!--当前等待人数TOP5-->
	<![CDATA[
		  select name,value from rank1 order by value desc
	]]>
	</select>
	<select id="getHandledCountRank" resultType="Map">
		<!--已办理人数TOP5-->
	<![CDATA[
		  select name,value from rank2 order by value desc
	]]>
	</select>
	<select id="getHandledBusinessRank" resultType="Map">
		<!--业务受理总量排行榜TOP5-->
	<![CDATA[
		  select name,value from rank
	]]>
	</select>
	<select id="getHandledBusinessArea" resultType="Map">
		<!--饼状图 业务受理总量中心城区/郊区-->
	<![CDATA[
		  select 3412 as CITY,4432 as SUBURBS from dual
	]]>
	</select>
	
	<select id="getHandledBusinessTypeRank" resultType="Map">
		<!--业务受理类型排行榜TOP5-->
	<![CDATA[
		  select name,value from rank3
	]]>
	</select>
	
	<select id="getSubStationHandledBusinessTypeRank" resultType="Map">
		<!--各事项按分局TOP5-->
	<![CDATA[
		  select name,value from rank
	]]>
	</select>
	<select id="getHandledCountByStationRank" resultType="Map">
		<!--全市通办分局TOP5-->
	<![CDATA[
		  select name,value from rank
	]]>
	</select>
	
	<select id="getHandledCountByBusinessRank" resultType="Map">
		<!--全市通办业务量TOP5-->
	<![CDATA[
		  select name,value from rank
	]]>
	</select>
	<select id="getOfferHandledWaittingCount" resultType="Map">
		<!--全市取号人数，已办理人数，当前等待人数-->
	<![CDATA[
		  select 3412 as OFFER,4432 as HANDLED, 789 as WAIT from dual
	]]>
	</select>
	<select id="getTaxServerWindowStatistics" resultType="Map">
		<!--办税大厅窗口情况-->
	<![CDATA[
		  select 3412 as OPEN,4432 as PAUSE, 789 as CLOSE from dual
	]]>
	</select>
	<select id="getSubscribeByAreaCount" resultType="Map">
		<!--本区预约/跨区通办预约-->
	<![CDATA[
		  select 3412 as LOCAL,4432 as NONLOCAL from dual
	]]>
	</select>
	<select id="getSubScribeTodayStatistics" resultType="Map">
		<!--当日预约办理情况-->
	<![CDATA[
		  select 273123 as COUNT from dual
	]]>
	</select>
</mapper>





