<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="import" th:href="@{/view/common}">
<link rel="stylesheet" type="text/css" href="../../static/css/iframePublic.css" th:href="@{/css/iframePublic.css}">
<link rel="stylesheet" type="text/css" href="../../static/css/selfMain.css" th:href="@{/css/selfMain.css}">
<title>自助办税服务厅</title>
<script th:src="@{/js/main/entityTaxServer.js}"></script>
</head>
<body>
	<div class="div_left">
		<div class="div_ywslzl">
			<span class="white s26">业务受理总量</span>
		</div>
		<div class="div_ywslzl_count">
			<span class="syellow s60">7,588</span>
		</div>
		<div class="div_box1">
			<!-- 标题 -->
			<div class="div_box_title_change">
				<div></div>
				<span id="station_online_1_rank">跨区通办预约TOP5</span>
				<div></div>
			</div>
			<!-- 数据 -->
			<div class="div_data">
				<table class="table_data" id="station_online_1_table">
					<tr>
						<td><span></span></td>
						<td></td>
						<td><span></span></td>
					</tr>
					<tr>
						<td><span></span></td>
						<td></td>
						<td><span></span></td>
					</tr>
					<tr>
						<td><span></span></td>
						<td></td>
						<td><span></span></td>
					</tr>
					<tr>
						<td><span></span></td>
						<td></td>
						<td><span></span></td>
					</tr>
					<tr>
						<td><span></span></td>
						<td></td>
						<td><span></span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="div_box2">
			<!-- 标题 -->
			<div class="div_box_title_change">
				<div></div>
				<span id="station_online_1_rank">跨区通办预约TOP5</span>
				<div></div>
			</div>
			<!-- 数据 -->
			<div class="div_data">
				<table class="table_data" id="station_online_1_table">
					<tr>
						<td><span></span></td>
						<td></td>
						<td><span></span></td>
					</tr>
					<tr>
						<td><span></span></td>
						<td></td>
						<td><span></span></td>
					</tr>
					<tr>
						<td><span></span></td>
						<td></td>
						<td><span></span></td>
					</tr>
					<tr>
						<td><span></span></td>
						<td></td>
						<td><span></span></td>
					</tr>
					<tr>
						<td><span></span></td>
						<td></td>
						<td><span></span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="div_left_bottom">
			<div class="div_left_bottom_div1">
				<img src="/img/icon_yuyue.png" />
				<div class="div_left_bottom_div1_div1">
					<div style="margin-left: 15px">
						<span class="white s30">重点事项</span>
					</div>
					<div>
						<span class="white s30">实时办理量</span>
					</div>
				</div>
			</div>
			<div class="div_left_bottom_div1_div2"></div>
			<div class="div_left_bottom_div1_div3">
				<div class="div_harf_height">
					<div>
						<span>事项名称1</span>
					</div>
					<div>
						<span>1,221</span>
					</div>
				</div>
				<div class="div_harf_height">
					<div style="">
						<span>事项名称2</span>
					</div>
					<div style="">
						<span>1,221</span>
					</div>
				</div>
			</div>
			<div class="div_left_bottom_div1_div3">
				<div class="div_harf_height">
					<div>
						<span>事项名称3</span>
					</div>
					<div>
						<span>1,221</span>
					</div>
				</div>
				<div class="div_harf_height">
					<div>
						<span>事项名称4</span>
					</div>
					<div>
						<span>1,221</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="float: left; width: 654px; height: 775px; margin-left: 30px; margin-top: 18px">
		<div style="width: 654px; height: 73px;">
			<div style="float: left; width: 140px; height: 73px; background-image: url('/img/bg_btn_2.png'); background-repeat: no-repeat;"></div>
			<div style="float: left; width: 140px; height: 73px; margin-left: 17px; background-image: url('/img/bg_btn_1.png'); background-repeat: no-repeat;"></div>
			<div style="float: left; width: 140px; height: 73px; margin-left: 17px; background-image: url('/img/bg_btn_1.png'); background-repeat: no-repeat;"></div>
			<div style="float: left; width: 140px; height: 73px; margin-left: 17px; background-image: url('/img/bg_btn_1.png'); background-repeat: no-repeat;"></div>

		</div>
		<div style="width: 565px; height: 683px; margin-left: 62px; background: url(/img/self_map.png)"></div>

	</div>
</body>
</html>