@charset "utf-8";

@font-face {
	font-family: Impact;
	src: url("../font/ImpactMTStd.otf")
}
@font-face{
	font-family:HYRunYuan-55W;
	src:url("../font/HYRunYuan-55W.ttf")
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	background-image: url(../img/back.jpg);
	background-size: cover;
	min-height: 1080px;
	min-width: 1920px;
}

.container {
	min-height: 1080px;
	min-width: 1920px;
}

span {
	font-family: Impact, 微软雅黑;
}