.div_left {
	float: left;
	width: 1111px;
	height: 775px;
}

.div_ywslzl {
	margin-top: 15px;
	margin-left: 220px;
}

.div_ywslzl_count {
	height:60px;
	width:200px;
	margin-top: 3px;
	margin-left: 220px
}

.div_box1 {
	float: left;
	width: 465px;
	height: 441px;
	margin-left: 120px;
	margin-top: 11px;
	background: url(/img/bg2.png);
}

.div_box2 {
	float: left;
	width: 465px;
	height: 441px;
	margin-left: 18px;
	margin-top: 11px;
	background: url(/img/bg4.png);
}

.div_left_bottom {
	float: left;
	width: 1111px;
	height: 173px;
	margin-left: 30px;
	margin-top: 10px;
	background: url(/img/bg_self_1.png);
}

.div_left_bottom_div1 {
	float: left;
	width: 213px;
	height: 100%;
}

.div_left_bottom_div1 img {
	margin-top: 20px;
	margin-left: 82.1px;
	float: left
}

.div_left_bottom_div1_div1 {
	float: left;
	margin-top: 10px;
	margin-left: 47px;
}

.div_left_bottom_div2 {
	float: left;
	height: 121px;
	width: 3px;
	margin-top: 26px;
	background: #6C99E0;
}

.div_left_bottom_div3 {
	float: left;
	width: 895px;
	height: 100%;
}

.div_left_bottom_div3 div {
	float: left;
	width: 33%;
	margin-top: 43px;
	height: 100px;
	text-align: center;
}

.div_left_bottom_div3 div span:first-child {
	color: #FFB61C;
	font-size: 36px;
	line-height: 60px;
}

.div_left_bottom_div3 div span:last-child {
	color: white;
	font-size: 30px;
	line-height: 40px;
}

.select {
	float: left;
	width: 140px;
	height: 73px;
	background-image: url('/img/bg_btn_2.png');
	background-repeat: no-repeat;
	text-align:center;
}

.unSelect {
	float: left;
	width: 140px;
	height: 73px;
	margin-left: 17px;
	background-image: url('/img/bg_btn_1.png');
	background-repeat: no-repeat;
	text-align:center;
}

.select span {
	line-height: 60px;
	color: white;
	font-size: 26px;
}

.unSelect span {
	line-height: 60px;
	color: white;
	font-size: 26px;
}