<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="import" th:href="@{/view/common}">
<link rel="stylesheet" type="text/css" href="../../static/css/iframePublic.css" th:href="@{/css/iframePublic.css}">
<title>错误页面</title>
</head>
<body>
	<div style="width: 1920px; height: 775px; text-align: center; display: table; background: gray;">
		<div style="display: table-cell; vertical-align: middle;">
			<span style="font-size: 50px; color: white;">请求错误 ！ 请联系系统管理员</span>
			<br>
			<span style="font-size: 24px; color: white;" th:text="${errorMsg}"></span>
		</div>
	</div>
</body>
</html>