<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="import" th:href="@{/view/common}">
<link rel="stylesheet" type="text/css" href="../../static/css/iframePublic.css" th:href="@{/css/iframePublic.css}">
<title>上海税务大屏展示</title>
<script th:src="@{/js/common/map.js}"></script>

</head>
<body style="">
	<div id="entityDiv1" style="display: block;">
		<div style="float: left; width: 465px; height: 775px; margin-top: 50px; background: url(/img/bg_entity_left.png) no-repeat">
			<!--左边 -->
			<div style="width: 100%; height: 42px; margin-top: 20px; text-align: center;">
				<span class="span_white_30">服务事项排行榜</span>
			</div>
			<div style="width: 410px; height: 620px; margin: 20px 26px;">
				<table class="box_table_entity">
					<tr>
						<td class="box_table_left_1">
							<span>0</span>
						</td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1">
							<span>xxxx</span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1">
							<span>0</span>
						</td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1">
							<span>xxxx</span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1">
							<span>0</span>
						</td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1">
							<span>xxxx</span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1">
							<span>0</span>
						</td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1">
							<span>xxxx</span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1">
							<span>0</span>
						</td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1">
							<span>xxxx</span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1">
							<span>0</span>
						</td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1">
							<span>xxxx</span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1">
							<span>0</span>
						</td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1">
							<span>xxxx</span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1">
							<span>0</span>
						</td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1">
							<span>xxxx</span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1">
							<span>0</span>
						</td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1">
							<span>xxxx</span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1" style="border-bottom: 0px;">
							<span>01</span>
						</td>
						<td class="box_table_center" style="border-bottom: 0px;"></td>
						<td class="box_table_right_1" style="border-bottom: 0px;">
							<span>xxxx</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div style="float: left; width: 990px; height: 775px;">
			<!-- 中间 -->
			<div style="width: 100%; height: 200px">
				<div class="div_harf_width">
					<div class="div_harf_height div_center">
						<img src="/img/icon_yuyue.png"></img>
						<span class="span_yellow_60" style="margin-left: 20px;">12,312</span>
					</div>
					<div class="div_harf_height div_center">
						<div style="width: 343px; height: 70px; background: url(/img/bg_entity_span.png); text-align: center;">
							<span class="span_white_30_h70">预约总量</span>
						</div>
					</div>
				</div>
				<div class="div_harf_width ">
					<div class="div_harf_height div_center">
						<img src="/img/icon_hanlded.png"></img>
						<span class="span_yellow_60" style="margin-left: 20px;">12,312</span>
					</div>
					<div class="div_harf_height div_center">
						<div style="width: 343px; height: 70px; background: url(/img/bg_entity_span.png); text-align: center;">
							<span class="span_white_30_h70">通办总量</span>
						</div>
					</div>
				</div>
			</div>
			<div style="width: 100%; height: 540px;" th:include="@{/plugin/station_entity_business_type_pie}"></div>
			<div style="width: 100%; height: 35px" class="div_center">
				<img src="/img/icon_current_page.png" />
				<img id="page_2" src="/img/icon_other_page.png" style="margin-left: 30px" />
			</div>

		</div>
		<div style="float: left; width: 465px; height: 775px; margin-top: 50px; background: url(/img/bg_entity_right.png) no-repeat">
			<!--右边 -->
			<div style="width: 100%; height: 42px; margin-top: 20px;" class="div_center">
				<img src="/img/icon_entity_star.png" />
				<span style="margin-left: 20px;" class="span_white_30">服务明星排行榜</span>
			</div>
			<div style="width: 350px; height: 620px; margin: 20px 50px;">
				<table class="entity_table_right">
					<tr>
						<td style="width: 20%; border-bottom: 0px;">
							<img src="/img/icon_first.png" />
						</td>
						<td style="width: 140px">
							<span class="span_pink_26"> 赵娜娜 </span>
						</td>
						<td style="width: 140px; text-align: right;">
							<span class="span_pink_26"> 2,249</span>
						</td>
					</tr>
					<tr>
						<td style="width: 20%; border-bottom: 0px;">
							<img src="/img/icon_seccond_third.png" />
						</td>
						<td style="width: 140px">
							<span class="span_pink_26"> 赵娜娜 </span>
						</td>
						<td style="width: 140px; text-align: right;">
							<span class="span_pink_26"> 2,249</span>
						</td>
					</tr>
					<tr>
						<td style="width: 20%; border-bottom: 0px;">
							<img src="/img/icon_seccond_third.png" />
						</td>
						<td style="width: 140px">
							<span class="span_pink_26"> 赵娜娜 </span>
						</td>
						<td style="width: 140px; text-align: right;">
							<span class="span_pink_26"> 2,249</span>
						</td>
					</tr>
					<tr>
						<td style="width: 20%; border-bottom: 0px;">
							<img src="/img/icon_photo.png" style="margin-top: 8px;" />
						</td>
						<td style="width: 140px">
							<span class="span_white_26"> 赵娜娜 </span>
						</td>
						<td style="width: 140px; text-align: right;">
							<span class="span_white_26"> 2,249</span>
						</td>
					</tr>
					<tr>
						<td style="width: 20%; border-bottom: 0px;">
							<img src="/img/icon_photo.png" style="margin-top: 8px;" />
						</td>
						<td style="width: 140px">
							<span class="span_white_26"> 赵娜娜 </span>
						</td>
						<td style="width: 140px; text-align: right;">
							<span class="span_white_26"> 2,249</span>
						</td>
					</tr>
					<tr>
						<td style="width: 20%; border-bottom: 0px;">
							<img src="/img/icon_photo.png" style="margin-top: 8px;" />
						</td>
						<td style="width: 140px">
							<span class="span_white_26"> 赵娜娜 </span>
						</td>
						<td style="width: 140px; text-align: right;">
							<span class="span_white_26"> 2,249</span>
						</td>
					</tr>
					<tr>
						<td style="width: 20%; border-bottom: 0px;">
							<img src="/img/icon_photo.png" style="margin-top: 8px;" />
						</td>
						<td style="width: 140px">
							<span class="span_white_26"> 赵娜娜 </span>
						</td>
						<td style="width: 140px; text-align: right;">
							<span class="span_white_26"> 2,249</span>
						</td>
					</tr>
					<tr>
						<td style="width: 20%; border-bottom: 0px;">
							<img src="/img/icon_photo.png" style="margin-top: 8px;" />
						</td>
						<td style="width: 140px">
							<span class="span_white_26"> 赵娜娜 </span>
						</td>
						<td style="width: 140px; text-align: right;">
							<span class="span_white_26"> 2,249</span>
						</td>
					</tr>
					<tr>
						<td style="width: 20%; border-bottom: 0px;">
							<img src="/img/icon_photo.png" style="margin-top: 8px;" />
						</td>
						<td style="width: 140px">
							<span class="span_white_26"> 赵娜娜 </span>
						</td>
						<td style="width: 140px; text-align: right;">
							<span class="span_white_26"> 2,249</span>
						</td>
					</tr>
					<tr>
						<td style="width: 20%; border-bottom: 0px;">
							<img src="/img/icon_photo.png" style="margin-top: 8px;" />
						</td>
						<td style="width: 140px; border-bottom: 0px;">
							<span class="span_white_26"> 赵娜娜 </span>
						</td>
						<td style="width: 140px; border-bottom: 0px; text-align: right;">
							<span class="span_white_26"> 2,249</span>
						</td>
				</table>
			</div>
		</div>
	</div>
	<div id="entityDiv2" style="display: none;">
		<div style="width: 100%; height: 40px" class="div_center">
			<!-- 顶部 -->
			<div class="entity_top_box div_center">
				<span>按序号</span>
			</div>
			<div class="entity_top_box div_center">
				<span>综合管理</span>
			</div>
			<div class="entity_top_box div_center">
				<span>发票管理</span>
			</div>
			<div class="entity_top_box div_center">
				<span>纳税申报</span>
			</div>
		</div>
		<div style="width: 100%; height: 708px">
			<!-- 中部 -->
			<div id="entity_window_box" style="float: left; position: relative; width: 66%; height: 100%; overflow-y: auto"></div>
			<div style="float: left; width: 30%; height: 748px; margin-top: -40px; margin-left: 40px;" class="div_center">
				<!-- 详细信息 -->
				<div style="width: 465px; height: 748px; background: url(/img/bg_window_detail.png)">
					<div style="width: 230px; height: 70px; margin-left: 140px; margin-top: 25px;">
						<div class="div_harf_height">
							<span class="span_white_28">张萌萌</span>
						</div>
						<div class="div_harf_height" style="margin-top: 10px;">
							<span class="span_white_24_1">管理一所 | 06号窗口</span>
						</div>
					</div>
					<div style="width: 340px; height: 536px; margin-left: 63px; margin-top: 40px;">
						<table class="window_detail_table">
							<tr>
								<td>
									<span>登记时间</span>
								</td>
								<td style="text-align: right">
									<span>08:30</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>工作时长</span>
								</td>
								<td style="text-align: right">
									<span>7小时12分钟</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>休息时长</span>
								</td>
								<td style="text-align: right">
									<span>62分钟</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>业务总量</span>
								</td>
								<td style="text-align: right">
									<span>387笔</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>休负荷量</span>
								</td>
								<td style="text-align: right">
									<span>129%</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>已叫号数</span>
								</td>
								<td style="text-align: right">
									<span>192</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>取号数</span>
								</td>
								<td style="text-align: right">
									<span>222</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>单笔业务均时</span>
								</td>
								<td style="text-align: right">
									<span>32分钟</span>
								</td>
							</tr>
						</table>

					</div>
				</div>
			</div>
		</div>
		<div style="width: 100%; height: 27px" class="div_center">
			<!-- 底部 -->
			<img id="page_1" src="/img/icon_other_page.png" />
			<img src="/img/icon_current_page.png" style="margin-left: 30px" />

		</div>
	</div>

	<script>
		//滚动条距离
		var scrollLength = 0;
		var w = document.getElementById("entity_window_box");
		w.onscroll = function(e) {
			scrollLength = w.scrollTop;
		}

		$
				.ajax({
					url : ctx + "/stationEntity/getEntityWindows",
					dataType : "json",
					success : function(data) {
						var arr = new Array();
						for ( var key in data) {
							$('#entity_window_box').append(
									"<div class='entity_window_title'><span class='span_white_30'>"
											+ key + "</span></div>")
							var list = data[key];
							for ( var i in list) {
								// 						
								$('#entity_window_box')
										.append(
												"<div id='"
														+ list[i].WORKER_ID
														+ "' onclick='view_detail(this.id)' class='entity_window_div' style='background:url(/img/icon_window_"
														+ list[i].STATE
														+ ".png) no-repeat;' ><div class='entity_window_bottom_div'><span class='span_white_18'>"
														+ list[i].WINDOW_NUM
														+ "</span></div></div>")

							}
							$('#entity_window_box').append("<br/>")
						}
					}

				})

		function view_detail(id) {
			if (id == "undefined" || id == null) {
				//如果窗口没人
				$("#select_box").remove();
				clear_detail();
				return;
			}
			
			//确定选择框横坐标 纵坐标的位置。
			var X = $('#' + id).offset().left - 24;
			var Y = $('#' + id).offset().top - 64 + scrollLength;
			//添加选中窗口 详细信息
			$("#select_box").remove();
			$('#entity_window_box')
					.append(
							"<div id ='select_box' style='position:absolute;z-index:1000;width:102px;height:118px;top:"
									+ Y
									+ "px;left:"
									+ X
									+ "px;background:url(/img/icon_window_select.png);'></div>");
		}

		function clear_detail() {
			//清理detail窗口;
		}
		$('#page_1').unbind('click').bind('click', function() {
			$('#entityDiv2').hide();
			$('#entityDiv1').show();
		})
		$('#page_2').unbind('click').bind('click', function() {
			$('#entityDiv1').hide();
			$('#entityDiv2').show();
		})
	</script>
</body>
</html>