<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="import" th:href="@{/view/common}">
<link rel="stylesheet" type="text/css"
	href="../../static/css/iframePublic.css"
	th:href="@{/css/iframePublic.css}">
<script th:src="@{/js/station/onlineTaxServer.js}"></script>
<title>上海税务大屏展示</title>
</head>
<body>
	<div id="onlineDiv">
		<div class="online_top_div1">
			<!--当日预约总量 -->
			<div class="online_top_div2">
				<span class="span_white_26">预约总量</span> <br> <span
					class="span_yellow_60" id="bespeakNum"></span>
			</div>
		</div>
		<div class="online_top_div1">
			<!--微信取号总量 -->
			<div class="online_top_div2">
				<span class="span_white_26">微信取号总量 </span> <br> <span
					class="span_yellow_60" id="wechatNum"></span>
			</div>
		</div>
		<div class="online_top_div1">
			<!--业务受理总量 -->
			<div class="online_top_div2">
				<span class="span_white_26">业务受理总量</span> <br> <span
					class="span_yellow_60" id="hanldedCount"></span>
			</div>
		</div>
		<div class="online_top_div1">
			<!--税企互动总量-->
			<div class="online_top_div2">
				<span class="span_white_26">税企互动总量</span> <br> <span
					class="span_yellow_60" id="taxAndCominteractNum"></span>
			</div>
		</div>

		<div class="online_center_box" style="background: url(/img/bg3.png)">
			<!-- 标题 -->
			<div class="title_1">
				<div class="title_2_center">
					<span class="title_1_text" id="station_online_1_rank">跨区通办预约TOP5</span>
				</div>
			</div>
			<!-- 数据 -->
			<div
				style="width: 370px; height: 284px; float: left; margin-top: 35px; margin-left: 48px;">
				<table class="box_table" id="station_online_1_table">
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span></span></td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span></span></td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span></span></td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span></span></td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span></span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="online_center_box" style="background: url(/img/bg1.png)">
			<!-- 标题 -->
			<div class="title_1">
				<div class="title_2_center">
					<span class="title_1_text" id="station_online_2_rank">微信取号按事项TOP5</span>
				</div>
			</div>
			<!-- 数据 -->
			<div
				style="width: 370px; height: 284px; float: left; margin-top: 35px; margin-left: 48px;">
				<table class="box_table" id="station_online_2_table">
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span></span></td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span></span></td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span></span></td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span></span></td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span></span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="online_center_box" style="background: url(/img/bg2.png)">
			<div class="title_1">
				<div class="title_2_center">
					<span id="handledBusiness_title" class="title_1_text">业务受理总量排行榜TOP5</span>
				</div>
			</div>
			<!-- 数据 top5-->
			<div id="handledBusiness_rank" class="box_2_content">
				<table id="station_online_3_table" class="box_table">
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span style="font-size: 20px"></span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span style="font-size: 20px"></span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span style="font-size: 20px"></span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span style="font-size: 20px"></span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span style="font-size: 20px">
						</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="online_center_box" style="background: url(/img/bg4.png)">
			<div class="title_1">
				<div class="title_2_center">
					<span id="handledBusiness_title" class="title_1_text">重点事项实时办理量</span>
				</div>
			</div>
			<!-- 数据 top5-->
			<div id="handledBusiness_rank" class="box_2_content">
				<table id="station_online_4_table" class="box_table">
					<tr>
						<td class="box_table_left_1"><span></span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span style="font-size: 20px"></span>
						</td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span> </span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span style="font-size: 20px">
						</span></td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span> </span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span style="font-size: 20px">
						</span></td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span> </span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span style="font-size: 20px">
						</span></td>
					</tr>
					<tr>
						<td class="box_table_left_1"><span> </span></td>
						<td class="box_table_center"></td>
						<td class="box_table_right_1"><span style="font-size: 20px">
						</span></td>
					</tr>

				</table>
			</div>
		</div>
		<!-- 本区预约/跨区通办预约 -->
		<div
			style="float: left; width: 400px; height: 210px; margin-left: 50px;">
			<div id="handledByOtherArea_bar"
				style="float: left; width: 400px; height: 210px;"></div>
		</div>
		<!--网厅业务总量折线图  -->
		<div id="station_onlineTaxServerCount_line"
			style="float: left; width: 1385px; height: 200px; margin-left: 50px;">
		</div>
	</div>
	<script>
		function setBarOption() {
			var chart = echarts.init(document
					.getElementById('handledByOtherArea_bar'));
			chart.setOption({
				calculable : false,
				xAxis : [ {
					show : false,
					type : 'value',
					boundaryGap : [ 0, 0.01 ]
				} ],
				yAxis : [ {
					show : true,
					type : 'category',
					zlevel : 1,
					axisLine : {
						show : false
					},
					axisTick : {
						show : false
					},
					axisLabel : {
						margin : -60,
						textStyle : {
							color : 'white',
							fontSize : 24
						}
					},
					data : [ '跨区', '本区' ]
				} ],
				grid : {
					y : 10,
					x : 35,
					x2 : 0,
					y2 : 15,
					width : 250
				},
				series : [ {
					type : 'bar',
					data : [],
					barWidth : 41.9,
					barMinHeight : 70,
					itemStyle : {
						normal : {
							color : 'rgba(87,153,255,0.7)',
							label : {
								show : true,
								position : 'right',
								formatter : function(a) {
									return forInt(a.data);
								},
								textStyle : {
									color : '#FFB61C',
									align : 'left',
									baseline : 'bottom',
									fontFamily : 'Impact',
									fontSize : 36
								}
							}
						}
					}
				} ]
			});
		}
		function setLineOption() {
			var chart = echarts.init(document
					.getElementById('station_onlineTaxServerCount_line'));
			chart.setOption({
				title : {
					text : '网上税务服务业务总量近12月趋势图',
					padding : [ 5, 5, 5, 50 ],
					textStyle : {
						fontFamily : '微软雅黑',
						color : 'white',
						fontSize : 20
					}
				},
				grid : {
					y : 50,
					x : 60,
					y2 : 30
				// width : 370
				},
				tooltip : {
					show : true,
					textStyle : {
						fontFamily : 'Impact',
						color : 'white',
						fontSize : 20
					}

				},
				xAxis : {
					type : 'category',
					data : [],
					axisLabel : {
						show : true,
						margin : 30,
						textStyle : {
							color : "white",
							baseline : 'bottom',
							fontFamily : 'Impact',
							fontSize : 20
						}
					},
					axisLine : {
						show : true,
						lineStyle : {
							color : 'white'
						}
					}
				},
				yAxis : {
					type : 'value',
					axisLabel : {
						show : true,
						textStyle : {
							color : 'white',
							baseline : 'bottom',
							fontFamily : 'Impact',
							fontSize : 16
						}
					},
					splitLine : {
						show : true,
						lineStyle : {
							color : 'white'
						}
					},
					axisLine : {
						show : true,
						lineStyle : {
							color : 'white'
						}
					}
				},
				series : [ {
					itemStyle : {
						normal : {
							lineStyle : {
								color : 'rgb(255,156,114)',
								width : 5
							},
							label : {
								show : true,
								position : 'top',
								textStyle : {
									color : "#FFB61C",
									fontFamily : 'Impact',
									fontSize : 24
								},
								formatter : function(a) {
									return forInt(a.data);
								}
							}
						}
					},

					data : [],
					type : 'line'
				} ]
			});
		}
		$(function() {
			//柱状图背景
			setBarOption();
			//折线图背景
			setLineOption();
			getAllMaps();
			getHandledByAreaRank();
			getOfferNumByWeChatRank();
			getHandldedRank();
			getHandledCountRealTime();
			//柱状图数据
			handledByOtherArea();
			//折线图
			stationOnlineTaxServerCountLine();
		})
	</script>
</body>
</html>